<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> First experiment with ejs </title>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="./js/jquery-2.1.0.js"> </script>
<script type="text/javascript" src="./js/main.js"> </script>
	<script>
	// use the socket.io server to connect to localhost:8080 here
  // $(document).ready(function (){
		// window.io = io.connect('http://localhost:3000');
  //   io.on('messages', function(data){
  //     alert(data.hello);
  //   });
  // )};
	</script>

  <style type="text/css">
    body {
      padding: 50px;
      font: 13px Helvetica, Arial, sans-serif;
    }
  </style>
</head>
<body>